RenderTexture2DArray/Library/
Android/obj/
Android/bin/
Android/libs/armeabi-v7a
Android/libs/arm64-v8a
*.apk
*.sln
*.csproj
*.suo
Android/gen/
Android/res/
Android/.classpath
Android/.cproject
Android/.project
Android/AndroidManifest.xml
Android/proguard-project.txt
Android/project.properties
Android/.settings/org.eclipse.jdt.core.prefs
